<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>Make Me Smart</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	<script>
		function showInput() {
    		var my_search = document.getElementById("search_terms").value;
			alert(my_search);
			document.getElementById('display').innerHTML = my_search;
		}
	</script>



    <div class="container-fluid">
      <div class="header">
        <h1 class="text-muted"><span class="glyphicon glyphicon-thumbs-up"></span> Make Me Smart</h1>
      </div>

      <div class="jumbotron">
        <h3>Enter a search query</h3>

        <p class="lead">In order to get started, enter a term and location.</p>
        <div class="row">
              <form onsubmit="showInput();">
                <div class="form-group">
                  <input type="text" class="form-control" id="search_terms" placeholder="Search for...">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="location" placeholder="Location">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
          <!-- <div id="form-search" class="col-lg-6"></div> -->
        </div><!-- /.row -->
      </div>

      <div class="row">
        <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">NYT</div>
          <ul class="list-group" id="nyt-articles"></ul>
          <script type="text/template" id="nyt-articles-template">
            <% _.each(stories, function(story) { %>
              <li class="list-group-item">
              <div class="media">
              <% if ( _.findWhere(story.multimedia, {type: 'image', subtype: 'thumbnail'}) ) { %>
                <div class="media-left">
                  <a href="<%=story.web_url%>">
                    <img class="media-object" src="http://www.nytimes.com/<%=_.findWhere(story.multimedia, {type: 'image', subtype: 'thumbnail'}).url %>">
                  </a>
                </div>
              <% } %>
                <div class="media-body">
                <h5 class="media-heading">
                  <a href="<%=story.web_url%>"><%=story.headline.main %></a></h4>
                <small><%=moment(story.pub_date).format("MMM Do YY") %></small><br>
                <% if ( _.where(story.keywords, {is_major: 'Y'}).length > 0 ) { %>
                <small>
                <% _.each(_.where(story.keywords, {is_major: 'Y'}), function(k, i) { %>
                <a href="#"><%=k.value %></a>,
                <% }) %>
                </small><br>
                <% } %>
                <%=story.abstract||story.snippet||story.lead_paragraph %>
                </div>
              </div>
              </li>
            <% }) %>
          </script>
        </div>
       </div>
       <div class="col-lg-6">
            <!-- GOOGLE TRENDS -->
            <div id="google_trends" class="panel panel-default">
               <div class="panel-heading"> GOOGLE TRENDS </div>

            <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q=digital+privacy&geo=US&tz=Etc/GMT%2B4&content=1&cid=GEO_MAP_0_0&export=5&w=650&h=530"></script>
            <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q=digital+privacy&geo=US&tz=Etc/GMT%2B4&content=1&cid=GEO_TABLE_0_0&export=5&w=650&h=330"></script>
            </div>
        </div>
      </div>


<div class="row">
    <div class="col-lg-6"><div id="sl-widget"></div></div>
    <div class="col-lg-6">

      <!-- Start twitter results -->
      <div class="twitter-wrapper panel panel-default">
        <div class="panel-heading">Twitter Results</div>
        <ul class="twitter_result list-group">
        </ul>
      </div>
      <!-- End twitter -->

    </div>
</div>


      <!-- bower:js -->
      <script src="/bower_components/jquery/dist/jquery.js"></script>
      <script src="/bower_components/underscore/underscore.js"></script>
      <script src="/bower_components/moment/moment.js"></script>
      <script src="/bower_components/react/react.js"></script>
      <!-- endbower -->
      <!-- include source files here... -->
      <script type="text/javascript">
    //   $('#search_terms').on('keypress', function(){
    //     var term = $('#search_terms').val();
    //     mms_search(term);
    //     setTimeout(function(){
    //     }, 250);
    //   })
      (function mms_search(){
        var search_url = 'http://mms-twitter-endpoint.herokuapp.com/twitter/digital+privacy';

        console.log('searching ' + search_url);
        $.getJSON( search_url, function( data ) {
          console.log(data.results);
          $('.twitter_result').html('');

          for(i = 0; i < data.results.length; i++){
            if ( data.results[i]['user'] === undefined ) { data.results[i]['user'] = ''; }
            console.log('rendering: ' + data.results[i]['text']);
            $('.twitter_result').append(
                '<li class="list-group-item"><p class="tweet-text">'+data.results[i]['text']+'</p>' +
                '<em class="tweet-author">-'+data.results[i]['user'].name +'</em></li>'
            );
          }
        });
      })();
      </script>

	<div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from the DatSciHack team</p>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/react/react.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="/bower_components/react/JSXTransformer.js"></script>
    <scrip src="/node_modules/babel-core/browser-polyfill.js"></scrip>


    <!-- build:js(.) scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/nyt.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
